<div class="content">
    <div class="mat-table-class">
        <table class="tableClass" matSort (matSortChange)="sortData($event)" matSortActive="title" matSortDirection="asc" mat-table #tableAll [dataSource]="dataSourceAllTasks">

            <ng-container matColumnDef="toggle">
                <th mat-sort-header="toggle" mat-header-cell *matHeaderCellDef>
                    Toggle
                </th>
                <td mat-cell *matCellDef="let element">
                        <mat-checkbox [checked]="element.completed" (change)="dataSourceAllTasks.setTaskChecked(element, $event)"></mat-checkbox>
                        <label for="checkbox"></label>
                </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-sort-header="title" mat-header-cell *matHeaderCellDef>
                    Title
                </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.title }}</span>
                </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-sort-header="status" mat-header-cell *matHeaderCellDef>
                    Status
                </th>
                <td mat-cell *matCellDef="let element">
                    <span>{{ element.completed }}</span>
                </td>
            </ng-container>

            <tr class="tableHeaderClass" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
    </div>
    <mat-paginator class="mat-paginator-sticky" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</div>
